html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color:#B3E5FC;
}
.gallery {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}
.gallery-post {
  width: 32%;
  align-content: center;
}