html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 62.5;
  box-sizing: border-box;
}
.title {
  color: pink;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding-top: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: auto;
  margin-left: 10%;
  align-items: center;
  padding-top: 5%;
  text-align: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
}

img {
  width: 75%;
  box-sizing: border-box;
  border-radius: 8%;
  padding: 1.5%;
  background-color: pink;
  box-shadow: 0.625rem 0.2rem grey;
}
h2 {
  color: pink;
  padding: 1rem;
  font-size: 0.5rem;
  position: relative;
}
.gallery-posts {
  width: 30%;
}
.post-one {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.post-one:hover,
.post-one:focus,
.post-one:active {
  transform: translateX(-2rem);
}
.post-two {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.post-two:hover,
.post-two:focus,
.post-two:active {
  transform: translateY(-2rem);
}
.post-three {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.post-three:hover,
.post-three:focus,
.post-three:active {
  transform: translateX(2rem);
}
.post-four {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.5s;
}
.post-four:hover,
.post-four:focus,
.post-four:active {
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic;
}
.post-five {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.post-five:hover,
.post-five:focus,
.post-five:active {
  transform: translateY(2rem);
}
.post-six {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.post-six:hover,
.post-six:focus,
.post-six:active {
  transform: skew(-10deg);
}
.post-seven {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.post-seven:hover,
.post-seven:focus,
.post-seven:active {
  transform: rotate(10deg);
}
.post-eight {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.post-eight:hover,
.post-eight:focus,
.post-eight:active {
  transform: scale(1.1);
}

@keyframes post-nine {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
.post-nine {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1rem) translateZ(0);
}
.post-nine:hover,
.post-nine:focus,
.post-nine:active {
  animation-name: post-nine;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.animation {
  height: 2rem;
  animation: opening-animation 5s;
  width: 2rem;
  position: fixed;
}
@keyframes opening-animation {
  0% {
    left: 50%;
    bottom: 50%;
    transform: scale(3);
    background-color: red;
  }
  25% {
    right: 50%;
    bottom: 50%;
    transform: scale(4);
    background-color: yellow;
  }
  50% {
    left: 60%;
    bottom: 55%;
    transform: scale(5);
    background-color: green;
  }
  75% {
    right: 60%;
    bottom: 55%;
    transform: scale(6);
    background-color: blue;
  }
  100% {
    left: 50%;
    bottom: 50%;
    transform: scale(1);
    background-color: purple;
  }
}

@media screen and (max-width: 800px) {
img{
    flex-direction: column;
    max-width: 600%;
    position: center;
    margin-left: 10%;
  }
  .title {
    flex-direction: column;
    max-width: 100%;
  }
}
@media screen and (max-width: 400px) {
  img{
      width: 300px;
    }
    .gallery{
      flex-direction: column;
      margin-left: -10%;
    }
    .gallery-posts{
      margin-left: -80%;
      margin-right: -30%;
    }

    .title {
      width: 375%
    }
 .gallery-header{
   text-align: center;
 font-size: 1rem;
  }
}